head, body{ 
background-color: aquamarine;
}
.Footballer {
    background-color:rgb(71, 151, 255);
    color:white;
    border:2px solid black;
    margin:20px;
    padding:20px;
    width:200px;
    length:200px;
}
.redtext{
    color:red;
}
h1{background-color: deepskyblue;
    margin:20px;
    padding:20px;
    width:350px;
    length:200px;
}
.container {
    display: grid;
  }
  .container {
    display: inline-grid;
  }